<form action="/sport/post" method="POST">
  <label for="">Titre du sport</label>
  <input name="title" type="text" />
  <label for="">Description du sport</label>
  <textarea name="description" type="text"></textarea>
  <button type="submit">Send</button>
</form>
