<% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
<div class="error-msg msg">
    <%= error.msg %>
    <span>
        &times;
    </span>
</div>
<% }); %> <% } %> <% if(success && success.length > 0) { %>
<div class="success-msg msg">
    <%= success %>
    <span>
        &times;
    </span>
</div>
<% } %>
