<h1>La route de tous les sports</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus
  laborum consequatur quis quos doloremque aut id accusantium ipsa, excepturi
  mollitia voluptatibus aliquid exercitationem nobis nulla et pariatur omnis,
  illum ea.
</p>

<% sports.map(sport => {%>
<div>
  <span><%= sport.title %></span>
  <a href="/sport/modify/<%= sport.id %>"><button>Modify</button></a>
  <form>
    <button onclick="deleteBtn('<%= sport.id %>')" type="submit">X</button>
  </form>
</div>
<%})%>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  function deleteBtn(id) {
    axios.delete(`/sport/delete/${id}`)
      .then(response => console.log(response))
      .catch(err => console.log(err))
  }
</script>
