<div class="container">
    <% include ./partials/messages %>
    <h1>La route de tous les sports</h1>

    <% sports.map(sport => {%>
    <div class="list-sports">
        <h2 style="margin-bottom: 2%"><%= sport.title %></h2>
        <p style="margin-bottom: 0"><%= sport.description %></p>
        <a href="/sport/<%= sport.id %>"><button>View</button></a>
    </div>
    <%})%>
</div>
