<h1>La route de tous les sports</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus
  laborum consequatur quis quos doloremque aut id accusantium ipsa, excepturi
  mollitia voluptatibus aliquid exercitationem nobis nulla et pariatur omnis,
  illum ea.
</p>

<% sports.map(sport => {%>
<div>
  <span><%= sport.title %></span>
  <a href="/sport/<%= sport.id %>"><button>View</button></a>
  <a href="/sport/modify/<%= sport.id %>"><button>Modify</button></a>
  <form method="POST" action="/sport/delete/<%= sport.id %>?_method=DELETE">
  <button type="submit">Delete resource</button>
</form>
</div>
<%})%>