<div class="container">
    <% include ./partials/messages %>
    <h1 class="center">Ajouter sport</h1>
    <form
        class="form"
        action="/sport/post"
        method="POST"
        enctype="multipart/form-data"
    >
        <label for="">Titre du sport</label>
        <input class="input" name="title" type="text" />
        <label for="file">Upload Image</label>
        <input
            class="inputFile"
            type="file"
            name="image"
            onchange="loadFile(event)"
        />
        <img id="output" width="50" style="display: none" />
        <label for="">Description du sport</label>
        <textarea class="input" name="description" type="text"></textarea>
        <button type="submit">Send</button>
    </form>
</div>
